* {
  margin: 0;
}
.task-1 {
}
.header {
  background-color: yellow;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 10px;
}
.content {
  display: flex;
  position: relative;
}
.content-flex {
  position: absolute;
  top: 0;
  right: 20px;
  border: 2px dotted green;
  display: flex;
  flex-direction: column;
}
.content-flex div {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 15px 5px 15px 30px;
}
h2 {
  margin-bottom: 15px;
}
.content-left {
  width: 20%;
  padding: 0 0 0 20px;
}
.content-left ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.content-right {
  border-left: 2px solid green;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content-right p {
  margin-bottom: 10px;
}
.footer {
  text-align: center;
  margin-top: 20px;
}
